<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form class="search-form" action="/search_result" method="GET">
        <div class="search-group">
            <label for="search_name">Name:</label>
            <input id="search_name" type="text" name="search_text">
        </div>
        <div class="search-group">
            <label for="product_category">Category:</label>
            <input id="product_category" type="text" name="category">
        </div>
        <input type="submit" value="OK">
    </form>
</body>
</html>